<footer class="page-footer" id="site-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<a href="{{ path('app_client_homepage') }}" class="brand-logo">
					<img src="{{ asset('assets/img/logo1.png') }}" alt="">
					<h2 class="brand-header">
						Smart market
					</h2>
				</a>
				<p class="footer-text grey-text text-lighten-4">Мы рады видеть вас в нашем интернет-магазине. С нами вы почувствуете удобство и легкость в покупках, сможете найти подробную информацию по любому товару в нашем магазине. Мы всегда готовы помочь вам и ответить на любые вопросы.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Меню</h5>
				<ul class="footer-menu">
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_homepage') }}">Каталог</a></li>
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_news') }}">Новости</a></li>
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_contacts') }}">Контакты</a></li>
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_delivery_and_payment') }}">Доставка и оплата</a></li>
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_guarantee') }}">Гарантия</a></li>
					<li><a class="grey-text text-lighten-3" href="{{ path('app_client_about_us') }}">О нас</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2018 Copyright Text
		</div>
	</div>
</footer>